<!-- Barra de suscripcion -->

<div class="container-fluid bg-black">
  <p class="text-center text-white p-1">
    Suscribete y recibe un 20% de descuento
  </p>
</div>

<!-- Barra de suscripcion -->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <img src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <ul class="navbar-nav me-5 ms-2">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="home">inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="planes">planes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="tienda">tieda</a>
          </li>
          <li class="nav-item">
            <a
              href="login"><button type="button" class="btn btn-dark">Registrate gratis</button></a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>