<div class="card-group">
    <div class="card">
      <img src="./../../assets/img/1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">PLAN:Perdida de peso</h2>
        <h4>programa de 3 meses</h4>

       <ul>
         <li class="lh-1">
          <p>- Consulta con el deportologo inicial</p>
          <p>- Consulta con el deportlogo final </p>
          <p>- 3 Sesiones de coaching nutricional</p>
          <p>- Seguimiento telefonico semanal</p>
          <p>- Plna alimenticio</p>
          <p>- Lista de mercado</p>
          <p>- Recetas saludables</p>
          <p>- 1 Agenda de seguimiento</p>
          <p>- 1 Termo</p>
          <p>- 1 Toalla</p>
          <p>- 1 kit de bandas elasticas</p>      
        
        </li>
       </ul>

    
      </div>
      
    </div>
    <div class="card">
      <img src="./../../assets/img/2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">STANDARD</h5>
      </div>
      
    </div>
    
     
    
  </div>