 <!-- imagenes -->
 <img src="./../../assets/img/002.png" class="rounded float-start" alt="...">
 <img src="./../../assets/img/un.png" class="rounded float-end" alt="...">
 <!-- imagenes -->

 <!-- seccion  2 Dr y foto -->

 <div class="container mt-5 d-flex flex-wrap">
    <div class="col-xl-8 d-flex align-items-start">
      <div class="text-start col-md-6 me-5 ">
        <p class="">ACERCA DE MI</p>
        <h1 class="h1">DR. IVAN FELIPE MONTOYA</h1>
      </div>
  
      <div class="text-start tex col-md-6">
        <p>
          Médico de la Universidad Pontificia Bolivariana de Medellín, con especialización en Medicina de la Actividad Física y el Deporte, comúnmente conocido como “deportólogo”
        </p>
        <p class="note note-light ">
          <u>
            El médico deportólogo es un profesional de la salud que se especializa en la actividad física y el deporte. Evalúa a deportistas de alto rendimiento, deportistas recreativos, aficionados y en general, cualquier persona que quiera realizar actividad física. Es el promotor de salud y estilo de vida saludable en todos los pacientes.
  
            </u
          >
        </p>
        <p>
          El objetivo en la consulta es acompañar a los pacientes en la búsqueda de estilos de vida saludable que puedan ser aplicables y sostenibles en el tiempo, basados en la mejor evidencia científica disponible y siempre ajustando planes de entrenamiento y de alimentación según las necesidades individuales.
  
        </p>
      </div>
    </div>
    <div
      class="text-start man-container d-flex justify-content-end align-items-end col-xl-4"
    >
      <img
        src="./../../assets/img/pixlr-bg-result.png"
        class="img-fluid man-img w-75"
        alt="foto dr "
      />
    </div>
  </div>
  
  <!-- seccion  2 Dr y foto -->
  
  
  
