<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img
        src="../../../assets/img/222(1).png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title text-center">Whey Pure – 2LB</h5>
        <div class="d-flex justify-content-center">
          <button
          type="button"
          class="btn btn-link btn-custom text-black px-3 me-2 "
        >
        Comprar
        </button></div>
        
        
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img
        src="../../../assets/img/WHEYPURE 5L(1).png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body ">
        <h5 class="card-title text-center">Whey Pure – 5LB</h5>
        <div class="d-flex justify-content-center"><button
          type="button"
          class="btn btn-link btn-custom text-black px-3 me-2 "
        >
          Comprar
        </button></div>
        
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img
        src="../../../assets/img/WEYPURE ASAI.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title text-center">WHEY PURE ACAI-AÇAÍ</h5>
        <div class="d-flex justify-content-center"> <button
          type="button"
          class="btn btn-link btn-custom text-black px-3 me-2 "
        >
          Comprar
        </button></div>
       
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img
        src="../../../assets/img/BUILDER ZERO 3.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title text-center">MASS BUILDER ZERO 3LB</h5>
        <div class="d-flex justify-content-center">
        <button
          type="button"
          class="btn btn-link btn-custom text-black px-3 me-2"
        >
          Comprar
        </button></div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img
        src="../../../assets/img/MAXBUILDER4.2.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title text-center">Mass Builder – 4.2 LB</h5>
        <div class="d-flex justify-content-center">
        <button
          type="button"
          class="btn btn-link btn-custom text-black px-3 me-2"
        >
          Comprar
        </button></div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img
        src="../../../assets/img/AMINOACIDOS.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title text-center">Smart Stack – Aminoácidos</h5>
        <div class="d-flex justify-content-center">
        <button
          type="button"
          class="btn btn-link btn-custom text-black px-3 me-2"
        >
          Comprar
        </button></div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img
        src="../../../assets/img/PREWORKOUT.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title text-center">Preworkout Pump Nox – Edge</h5>
        <div class="d-flex justify-content-center">
        <button
          type="button"
          class="btn btn-link btn-custom text-black px-3 me-2"
        >
          Comprar
        </button></div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img
        src="../../../assets/img/bandas.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title text-center">Kit Bandas Elasticas x5</h5>
        <div class="d-flex justify-content-center">
        <button
          type="button"
          class="btn btn-link btn-custom text-black px-3 me-2"
        >
          Comprar
        </button></div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../assets/img/Termo.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title text-center">Shaker - Mezclador de proteina</h5>
        <div class="d-flex justify-content-center">
        <button
          type="button"
          class="btn btn-link btn-custom text-black px-3 me-2"
        >
          Comprar
        </button></div>
      </div>
    </div>
  </div>
</div>
