<div class="row row-cols-1 row-cols-md-3 g-4 ">
    <div class="col">
      <div class="card">
        <img src="../../../assets/img/222(1).png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Whey Pure – 2LB</h5>
          <button type="button" class="btn btn-success">comprar</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../assets/img/WHEYPURE 5L(1).png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Whey Pure – 5LB</h5>
          <button type="button" class="btn btn-success">comprar</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../assets/img/WEYPURE ASAI.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">WHEY PURE ACAI-AÇAÍ</h5>
          <button type="button" class="btn btn-success">comprar</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../assets/img/BUILDER ZERO 3.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">MASS BUILDER ZERO 3LB</h5>
          <button type="button" class="btn btn-success">comprar</button>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card">
          <img src="../../../assets/img/MAXBUILDER4.2.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Mass Builder – 4.2 LB</h5>
            <button type="button" class="btn btn-success btn-center">comprar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../../../assets/img/AMINOACIDOS.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Smart Stack – Aminoácidos</h5>
            <button type="button" class="btn btn-success">comprar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../../../assets/img/PREWORKOUT.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Preworkout Pump Nox – Edge</h5>
            <button type="button" class="btn btn-success">comprar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../../../assets/img/bandas.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Kit Bandas Elasticas x5</h5>
            <button type="button" class="btn btn-success">comprar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../../../assets/img/Termo.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Shaker - Mezclador de proteina</h5>
            <button type="button" class="btn btn-success">comprar</button>
          </div>
        </div>
      </div>
    
  </div>
